.iconButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: opacity 0.2s ease;
  color: var(--theme-icon-brand-main);
}

/* Button Sizes */
.buttonSizeM {
  width: 40px;
  height: 40px;
}

.buttonSizeS {
  width: 36px;
  height: 36px;
}

/* States */
.pressed {
  opacity: 0.2;
}

.disabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Sizes */
.iconSizeM {
  width: 24px;
  height: 24px;
}

.iconSizeS {
  width: 20px;
  height: 20px;
}

.badge {
  position: absolute;
  left: 10px;
  top: -6px;
  pointer-events: none;
}