.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: 56px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 100%;
  height: 56px;
}

.bg {
  /* Field_bg */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 4px 8px 16px;
  gap: 4px;

  width: 100%;
  height: 56px;
  min-height: 56px;

  /* blueTheme/dark/bgFill/primary */
  background: var(--theme-bg-fill-primary);
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.textContainer {
  /* Text */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 100%;
  height: 40px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.label {
  /* Label */
  width: 100%;
  height: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.textZone {
  /* Text_zone */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 100%;
  height: 20px;
  max-height: 128px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.bodyText {
  /* Body_text */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 100%;
  height: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.input {
  /* Input */
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;

  width: 100%; /* Overriding 40px to make it usable */
  height: 20px;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 1; /* Keeping the visual but parent has 0.5 opacity */
}

/* Hidden elements */
.leftIcon,
.cursor,
.chipGroup,
.searchPlaceholder,
.rightButtons,
.errorText,
.assistiveText {
  display: none;
}
