.screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 10px 16px 0;
  background: var(--theme-bg-brand-light);
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  max-width: 320px;
}

.description {
  max-width: 360px;
}

.passwordField {
  margin-top: 40px;
}

.footer {
  margin-top: auto;
  padding: 24px 0 calc(60px + 16px + env(safe-area-inset-bottom, 0px));
}
