.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--theme-bg-fill-primary);
  border-radius: 12px;
  border: 1px dashed var(--theme-border-default);
}

.showcase {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  max-width: 900px;
  background-color: var(--theme-bg-fill-primary);
  border-radius: 12px;
  border: 1px dashed var(--theme-border-default);
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  padding: 16px;
  border: 1px dashed var(--theme-border-brand-main);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.specs {
  margin-top: 8px;
  white-space: pre-line;
  /* Позволяет использовать \n для переноса строк */
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.truncateWrapper {
  width: 300px;
}
