.buttonGroup {
  display: flex;
  box-sizing: border-box;
}

.vertical {
  flex-direction: column;
  align-items: stretch;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.withSpacing {
  padding: 8px 16px;
  background: var(--theme-bg-tabbar);
}

.gap12 {
  gap: 12px;
}

.inlineHorizontal {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chipsHorizontal {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.horizontal > * {
  flex: 1;
}

.chipsHorizontal > *,
.inlineHorizontal > * {
  flex: none;
}
