.coloredChip {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  min-height: 28px;
  gap: 4px;
  padding: 4px 12px;
  border-radius: 12px;
  box-sizing: border-box;
}

.singleline {
  white-space: nowrap;
}

.multiline {
  align-items: center;
  white-space: normal;
}

.hasStartIcon {
  padding-left: 8px;
}

.hasEndIcon {
  padding-right: 8px;
}

.hasStartIcon.hasEndIcon {
  padding-left: 8px;
  padding-right: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex: none;
}

.label {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.08px;
  min-width: 0;
}

.singleline .label {
  white-space: nowrap;
}

.multiline .label {
  align-items: center;
  white-space: pre-line;
}
